{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %} {{ sheet.character.name }}'s sheet {% endblock %}

{% block content %}


    <div id="stat-block-container">Loading...</div>

    <div id="log-entries">
        <ul>
            {% for entry in sheet.character.characterlogentry_set.all %}
                <li>{{ entry.timestamp|naturaltime }}: {{ entry }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block script %}
<script src="{% static "react/bundle.js" %}">
</script>
<script type="application/javascript">
    var sheetId = {{ sheet.pk }};
    SheetApp.renderSheet(sheetId, document.getElementById('stat-block-container'));
</script>

{% endblock %}
