{% extends "base.html" %}

{% block title %} TODO {% endblock %}

{% block content %}

    <h2>TODO</h2>
    <pre>
    + = done
    - = not done

    Priority list by JW:

    + 0) restrict ammo by chosen weapon dynamically with JS
    + 1) basic skill checks
    + 2) movement rates
    + 3) berettas akimbo
    + 4) overland
    - 5) spell skill cheks
    + 6) default to normal quality for armor, weapons

    + gravity effects, encumbrance effects from high gravity
        + encumbrance increased from high gravity
        + REF penalty for low gravity
        + REF penalties countered by low/high G-maneuvers skill
        + effect of gravity applies to ranged weapons...
        + movement rates
        - allow changing gravity with 0.1 increments with cursor keys

    - before summer of 2025, check offline functionality,
        should be possible to add and remove damage and spend ammo, at least, even without network connectivity.
        - tests to this effect

    - firearms in CC. (from firearms section)
    - add a generic skill check element to allow unskilled checks
        - at least render base skill checks
    - fix issue in skill list rendering with skills that are specializations
        of "standard" skills
    + check breakdown for sweep fire
        - use counterpenaltyv2 to get more accurate breakdown
    - double range penalties for sweep fire missing in range view
    - allow adding number of targets in combat transients, to calculate penalties accurately
        - 5 per additional target in same arc, -10 per additional in different arc
        - -10 per additional opponent in close combat
    - pass combat transients down, to allow adding things like num opponents easily
    - range control for ranged weapons
    - check that scopes correctly affect long range, low light detection levels, now seems to bug in main sheet
        - at least in normal daylight, acute vision does not work (probably because night vision check always used)
        - Render perks in the details, as an overlay for example
    + power armor skill
    - character log to the side after skill panel. Should update dynamically,
        use websockets or swr for this

    - "add xp used ingame" with a possibility to enter description (to log)
    -- if a log entry is added, entry should not be coalesced.
    - "add xp" with an optional log entry, allowing for in-game notes.

    - make the range control affect the advancing initiatives
        - sense table could highlight

    - range, light level, conditions, turns of combat to specific combat overlay to access it quickly while perusing the rest of the sheet.
        + gravity control
        + remember set range and detection level on reopen
        - setting range once will affect firearms and ranged weapons
        - highlights the correct column in senses
        - make the drawer handle wider, the scrollbar is layered on top of the handle, making hard to toggle the overlay
        - visible indication when non-standard selections, i.e., combat in progress
    + inventory
    + damage taken
    ++ stamina
    ++ lethal
    ++ incurred to character, with approriate wounds
    ++ healing damage
    ++ bleeding damage, retain original wound, but incurs AA etc penalties
       as per bleeding.

    - mana usage controls

    - fit/ref penalties from arm damage
    + add a log entry for added edges
    + add indication of last SP addition
    + add indication of last XP addition
    - make SP addition a modal dialog to reduce possibility of human error
    - "add xp used ingame" with a possibility to enter description (to log)
    - calculate shock check and add "times wounded" to sheet

    - weapons, ammo, armor, skills, should all be possible to update in the
        backend, without need to reload the sheet. Websocket notification on
        changes in the backend, so client JS knows to discard loaded lists?

    - editing armor should prefill currently used armor, if it from a template, to allow quickly changing the armor or quality

    - use a common data store component for loading data that can then cache and invalidate loaded data centrally. This will avoid loading, e.g., skills and edges from multiple locations in the sheet.
        - how to handle data updates? Currently no updates to those lists done by sheet (skills, edges)
        - redux?

    - "goon sheet" sheet set for (mostly) GM managed groups of NPCs
        - Add and remove, sync from main sheet
        - subsheets linked to the base sheet
        - Separate wound lists
          - move wounds to sheet
        - Separate stamina damage
          - move stamina damage to sheet
        - damage control as a modal
        - Visual condition indicator ((badly) wounded, etc)
            - AA > -10 green
            - -20 <= AA <= -10 yellow
            - AA < -20 red
        - expendables (like ammo) separated
        - condensed layout, should be possible to stack couple of dozen of
          adversaries on a laptop screen
        - currently used weapon selected from main sheet choices
            - only currently selected weapon checks rendered
        - MVP: just combine multiple sheets to same view with selected weapon
            - allow showing movement and selecting between weapons (firearm,
              ranged, cc) to render the weapon
        - allow very easy duplication, maintain some reference on how many
          sheets there are for the character, warn if removing last sheet
        - reorganize sheets to allow changing visualization of combat
          formation
        - SheetSet - multiple sheets with order and grid position
          - tied to user accounts and private by default
          - add, create, destroy from the view
          - sheet operations as normal
    - telescopic sight x16 xxxxl extreme range options
    - language skills to a separate section in the skills
    - make "standard skills" stand out a bit in the selection
    -- allow "upgrading skill" (which will add the corresponding skill)
    + apply instinctive fire on low ranges
    - UI: touch devices "missing skills" not showing up, can't see the reason for the missing skill indicator

    + fix toughness (now 1 pt per level, should be 2)

    + notes changes should perhaps not be logged.

    - power armors
        + skill reduces ref penalty
        - suspended weight
        + check that power armor fit bonus works.

    - acute vision counters penalty in ranged combat (-10 -> -5 etc)
    - acute vision edge to main sheet

    + skill modifiers from armor

    + surprise check

    + senses (SM)
    + sense modifiers from armor
    + weight from scopes, firearm addons

    - spell skill checks (SM)

    - edge levels from items (toughness, darkvision, etc)
        + done for scopes (acute vision, night vision)
        - missing for miscellaneous items, firearm addons, special weapon qualities
        - misc items, armor, affect all the time, weapons only when used
            - calculate effects from addons on checks with the particular
              weapon, any extra benefits if used (TBD how "being used" is
              handled)
    - more modifiers from add ons, scopes, like to_hit

    + automatic used edge point calculation

    - tiring: show tiring durations in the sheet
    - tiring: account for armor encumbrance class
    - tiring: allow adding turns fought, sprinted etc

    - finalize initial robot tests.

    - marking weapons as having no weight; useful for alternate weapons, or
      weapons with larger sizes (Martel enlarged).

    + armor modifiers to skill checks.  These should work for the physical skills
      where the check is shown even without the character having the skill.
    + edge skillbonuses back to sheet, they are missing after moving skills to
      react.

    - environment effects on movement as an overlay
    - environment effects on overland movement as an overlay
    - overland movement double time

    - show character height, weight in sheet.
    - shield damage points
    - damage points for armor, weapons
    - tiring
    - bootstrap data pop-up links for armor, effects in edit area
    -- show basic info.
    - reordering weapons

    - save bonuses (M)

    - character addition form layout for easier "intake"
      + group cur, starting stats
      - show raises
    +/- adding weapon inplace ("add row" functionality), instead of the large set of
        controls.  Might already be sufficient with the condensed layout, verify with
        JW.


    - you should be able to leave current stats empty on character creation,
      in which case the stats would be filled in from the initial stats.

    -- xl and e range dependent on user FIT (SM)
    -- password change (SM)
    + wondrous items
    - magic item location (only one item to each location)
    + change log for sheet (stat modifications etc)
    ++ skills
    ++ edges

    + encumbrance breakdown (M)

    - short description of spell effect (+50 FIT etc)
    - stats, armors etc if the character is larger sized.

    - Partial skills.  This is a larger item than it sounds, as the current design
      assumes whole skill levels.  Investigate if could be done as a skill level
      model field.

    - Inserting None as skill cost to the sheet should work to allow resetting
      skill costs from CSV import.

    - hardened skin + toughness -> natural weapons durability.
    -- NaturalWeaponDura=Aleth+HdSkin+ROUNDDOWN(Toughness/2)+SizeModifier
    - size field for weapons (huge cretin with Large bite)

    - free edges based on campaign (probably should think about race
      in this context, for FRP at least)

    - it should be really easy to bootstrap the sheet system.  There should be
      some initial data, like tech-levels and campaigns.

    Minor:

    - adding missing skills (helps in just allowing inserting primary skills
      and autofilling rest)

    Firearms:

    + using two Berettas akimbo.  Check rule situation regarding instinctive fire.
    ++ fireams are assigned to hands (right, left, both).  ~~Penalties/bonuses should
       be applied based on weapon type.  If both hands are occupied, apply penalty
       for two guns.~~
    - firearms in CC.
    + clips

    Edges:

    - superior balance effect on ref/mov balance checks

    Skills:

    - jumping/tumbling synergy, see AEN skills and edges.
    </pre>

    <h2>BUGS</h2>
    <pre>
    - Adding skills with multiple prereqs doesn't work.
    + Better error messages on importing completely invalid CSV (heading line or
          data type broken)
    + sweep fire description
    + wound addition controls
    + color blind not calculated in range calculations correctly
    </pre>

{% endblock %}
