/auth
/static
/db
.~
.DS_Store
/ve
/.idea
/DATABASE
/logs
sql.db
test.db
bundle.js
bundle.js.map
node_modules
sheet/tests/log.html
sheet/tests/output.xml
sheet/tests/report.html
sheet/tests/selenium-screenshot-*.png
npm-debug.log
/upload


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
