[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
gunicorn = "*"
docopt = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
Django = "*"
Pillow = "*"
pytz = "*"
chardet = "*"

[dev-packages]
django-debug-toolbar = "*"
django-webtest = "*"
tox = "*"
pytest-django = "*"
factory_boy = "*"
WebTest = "*"
awsebcli = "*"
pathlib2 = "*"
tox-pipenv = "*"
#[requires]
#python_version = "3.7"
