[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
gunicorn = "*"
docopt = "*"
django-widget-tweaks = "*"
djangorestframework = "<3.9"
Django = "<1.11"
South = "*"
factory_boy = "*"
WebTest = "*"
Pillow = "*"
tox = "*"
pytest-django = "*"
awsebcli = "*"
pytz = "*"

[dev-packages]
django-debug-toolbar = "<1.10"
django-webtest = "*"

[requires]
python_version = "3.7"
