{% extends "base.html" %}

{% block content %}

<h2>Characters</h2>
{% if user.characters.all %}
<ul>
    {% for char in user.characters.all %}
      <li><a href="{% url 'edit_character' char.id %}">{{ char }}</a></li>
    {% endfor %}
</ul>
{% else %}
    <p>No characters.</p>
{% endif %}

<h2>Sheets</h2>
{% if user.sheets.all %}
<ul>
  {% for sheet in user.sheets.all %}
  <li><a href="{% url 'sheet_detail' sheet.id %}">{{ sheet }}</a></li>
  {% endfor %}
</ul>
{% else %}
    <p>No sheets.</p>
{% endif %}


{% endblock %}
