{% extends "base.html" %}
{% load url from future %}

{% block title %} Character list {% endblock %}

{% block content %}

<p>
<a href="{% url "add_char" %}">Add a new character</a>
</p>

{% if campaigns %}
    {% for campaign in campaigns %}
        <h3 class="campaign">{{ campaign.name }}</h3>
        <ul>
            {% for char in campaign.objects %}
                <li><a href="{% url "edit_character" char.id %}">
                    {{ char }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No characters.</p>
{% endif %}

{% endblock %}
