{% extends "base.html" %}
{% load url from future %}

{% block title %} Add or edit character {% endblock %}

{% block content %}

<form action="
{% if char %}
{% url "sheet.views.edit_character" char.id %}
{% else %}
{% url "sheet.views.edit_character" %}
{% endif %}
"
      method="post" 
      id="char_form"
      enctype="multipart/form-data">
{% csrf_token %}
{{ char_form.as_p }}
<input type="submit"  
       {% if char %}
         value="Update" 
       {% else %}
         value="Add" 
       {% endif %}
       />
</form>

{% endblock %}
