{% extends "base.html" %}

{% block title %} Import data {% endblock %}

{% block content %}

<p>
First row, first cell, is the data type, e.g. "ArmorTemplate".
</p>
<p>
Second row is the header, which indicates the type of the data in the
column it is in, such as "name" or "cc_skill_level".
</p>

<dl>
{% for item in types %}
<dt>{{ item.name}}</dt>
<dd>{{ item.fields|join:", " }}</dd>
{% endfor %}
</dl>


<form action="" method="post">
  {% csrf_token %}
  {{ import_form }}
<input type="submit" value="Import" />
</form>

{% endblock %}
