{% extends "base.html" %}
{% load url from future %}

{% block title %} Sheet {% endblock %}

{% block content %}
    <p>
        The sheets are equipment and boost sets applied on the base character;
        skills and edges are managed in the sheet view,
        but they are characteristics of the character,
        not of the sheet.  Sheet contains spell effects,
        carried equipment and the like; stuff that may change during a single
        gaming session.  The idea is that you can have multiple sheets for
        a single gaming session, with distinct equipment and boosts.
    </p>
<p>
<a href="{% url "add_sheet" %}">Add a new sheet</a>
</p>

{% if campaigns %}
    {% for campaign in campaigns %}
        <h3 class="campaign">{{ campaign.name }}</h3>
        <ul>
            {% for sheet in campaign.objects %}
                <li><a href="{% url "sheet.views.sheet_detail" sheet.id %}">{{ sheet }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No sheets.</p>
{% endif %}

{% endblock %}
