{% extends "base.html" %}
{% load url from future %}
{% load sheet_extras %}
{% load humanize %}

{% block title %} {{ char.name }}'s sheet {% endblock %}

{% block content %}
    <div class="row">
<div class="col-md-8">
<h1>{{ char.name }}</h1>
{{ char.race }}
{{ char.occupation }}
<p>
{{ char.character.description }}
</p>
<p>
{{ char.description }}
</p>

<div class="edit-control">
  <p>
    <a href="{% url "edit_character" char.character.id %}">
      Edit base character</a>
  </p>
  <p>
    <a href="{% url "edit_sheet" char.id %}">
      Edit base sheet</a>
  </p>
</div>

<div class="stats">

{% url "sheet.views.sheet_detail" char.id as act %}

<table class="base">
{% for stat in char.stats %}
  <tr><td class="stats name">{{ stat.name|upper }}</td>
      <td class="stats base">{{ stat.base }}</td>
      <td class="stats eff">{{ stat.eff }}</td>
      {% if stat.add_form %}
      <td class="edit-control">
           <div class="edit-control">
              <form action="{{ act }}" method="post">
                {% csrf_token %}
                {{ stat.add_form }}
              <input type="submit" value="+" />
              </form>
           </div>
      </td>
      <td class="edit-control">
           <div class="edit-control">
              <form action="{{ act }}" method="post">
                {% csrf_token %}
                {{ stat.dec_form }}
              <input type="submit" value="-" />
              </form>
           </div>
      </td>
          <td class="stats change">({{ stat.change|stringformat:"+d" }})</td>
      {% else %}
          <td class="edit-control"></td>
          <td class="edit-control"></td>
          <td></td>
      {% endif %}
  </tr>
{% endfor %}
</table>

<table class="derived">
{% with b=char.body sta=char.stamina mana=char.mana %}
{# XXX Temporary stamina and body #}
  <tr class="body">
    <td>B</td><td>{{ b.base}}</td>
    <td>{{ b.mod|default:""}}</td>
    <td>{{ b.recovery_rate|default:"" }}</td>
  </tr>
  <tr class="stamina">
    <td>S</td><td>{{ sta.base}}</td>
    <td>{{ sta.mod|default:""}}</td>
    <td>{{sta.recovery_rate|default:"" }}</td>
  </tr>
  <tr class="mana">
    <td>M</td><td>{{ mana.base}}</td>
    <td>{{ mana.mod|default:""}}</td>
    <td>{{mana.recovery_rate|default:"" }}</td>
  </tr>
{% endwith %}
</table>

</div>

<div class="xp">
XP: {{ char.xp_used_stats }} + 
{% if char.hero %}
{{ char.xp_used_hero }} + 
{% endif %}
{{ char.xp_used_edges }} + 
{{ char.xp_used_ingame }} = {{ char.xp_used }} / {{char.total_xp}}

<div class="edit-control">
    <form action="{{ act }}" method="post">
        {% csrf_token %}
        {{ add_xp_form }}
        <input type="submit" value="Add XP" />
    </form>
</div>
</div>

<div class="armor">
  {{ char.helm }} + {{ char.armor }}
  <table>
    <thead>
      <tr><th></th><th></th>
          <th title="Protection against piercing damage">P</th>
          <th title="Protection against slashing damage">S</th>
          <th title="Protection against bludgeoning damage">B</th>
          <th title="Protection against burn damage">R</th>
	<th title="Damage reduction">DR</th><th title="Damage points">DP</th><th
                  title="Protection
	level">PL</th></tr>
    </thead>
    <tr><td class="roll">8</td><td class="location" title="Head">H</td>
        {% render_armor char.helm "h" %}
      </tr>
    <tr><td class="roll">5-7</td><td class="location" title="Torso">T</td>
        {% render_armor char.armor "t" %}
    </tr>
    <tr><td class="roll">4</td><td class="location" title="RA">RA</td>
        {% render_armor char.armor "ra" %}
    </tr>
    <tr><td class="roll">3</td><td class="location" title="Right leg">RL</td>
        {% render_armor char.armor "rl" %}
    </tr>
    <tr><td class="roll">2</td><td class="location" title="Left arm">LA</td>
        {% render_armor char.armor "la" %}
    </tr>
    <tr><td class="roll">1</td><td class="location" title="Left leg">LL</td>
        {% render_armor char.armor "ll" %}
    </tr>
  </table>
</div>

<div>
    <ul>
    <li>Weight carried: {{ char.weight_carried }} kg </li>
    </ul>
</div>

<h3>Notes</h3>
<ul class="note positive">
    {% for note in notes.positive %}
        <li>{{ note|join:": " }}</li>
    {% endfor %}
</ul>
<ul class="note negative">
    {% for note in notes.negative %}
        <li>{{ note|join:": " }}</li>
    {% endfor %}
</ul>

<h3>Close combat</h3>
{% include "sheet/sheet_detail/melee_weapons.html" %}

<h3>Ranged combat</h3>
{% include "sheet/sheet_detail/ranged_weapons.html" %}

{% if char.campaign.has_firearms %}
<h3>Firearms</h3>
{% include "sheet/sheet_detail/firearms.html" %}
{% endif %}

<h3>Miscellaneous items</h3>
{% include "sheet/sheet_detail/miscellaneous_items.html" %}

<h3>Spell effects</h3>
{% include "sheet/sheet_detail/spell_effects.html" %}

<h3>Edges</h3>
{% include "sheet/sheet_detail/edges.html" %}

<h3>Helm</h3>
{% include "sheet/sheet_detail/helm.html" %}

<h3>Armor</h3>
{% include "sheet/sheet_detail/armor.html" %}

<script src="{{ STATIC_URL }}jquery-combobox.js"></script>
<script src="{{ STATIC_URL }}hideAdvanced.js"></script>
<script>
    $(document).ready(function () {
    $("#add_skill select").combobox();
    $("#add_lang select").combobox();
    });
</script>

</div>

    <div id="skill-pane" class="col-md-4">
        <div class="skills">
            <h3>Skills</h3>
            {% with skills=char.skills %}
                {% if skills %}
                    <table>
                        {% for skill in skills %}
                            <tr class="{% spaceless %}
		 remove-container indent{{ skill.indent }}
		 {% if skill.skill.is_specialization %}
		 specialization
		 {% endif %}
		 {% endspaceless %}">
                                <td class="skill_name">
                                    <div>
                                        <div class="remove edit-control">
                                            <form action="{{ act }}"
                                                  method="post">
                                                {% csrf_token %}
                                                {{ skill.remove_form }}
                                                <input type="submit"
                                                       value="Remove"/>
                                            </form>
                                        </div>
                                        {{ skill.skill }}
                                    </div>
                                </td>
                                <td>
                                    <div class="edit-control">
                                        <form action="{{ act }}"
                                              method="post">
                                            {% csrf_token %}
                                            {{ skill.dec_level_form }}
                                            <input type="submit" value="-"/>
                                        </form>
                                    </div>
                                </td>
                                <td>{{ skill.level }}</td>
                                <td>
                                    <div class="edit-control">
                                        <form action="{{ act }}"
                                              method="post">
                                            {% csrf_token %}
                                            {{ skill.add_level_form }}
                                            <input type="submit" value="+"/>
                                        </form>
                                    </div>
                                </td>
                                <td>{{ skill.cost }}</td>
                                <td class="check">
                                    {% if not skill.skill.is_specialization %}
                                        {{ skill.check }}{% endif %}</td>
                                <td>{{ skill.comments }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div>
                        SP: {{ char.initial_sp }} + {{ char.edge_sp }}
                        + {{ char.gained_sp }} =
                        {{ char.total_sp }} / {% sum_sp_cost skills %}
                    </div>
                    <div>Age SP: {{ char.age_sp }} </div>
                    {% with char.optimized_age_sp as opt %}
                        <div>Munch munch: +{{ opt.lrn }} LRN, + {{ opt.int }}
                            INT
                        </div>
                    {% endwith %}
                {% else %}
                    <p>No skills.</p>
                {% endif %}
            {% endwith %}

            <div id="add_skill" class="edit-control">
                <label for="add_skill_form"><strong>Add a skill</strong></label>

                <form action="{{ act }}" method="post"
                      id="add_skill_form">{% csrf_token %}
                    <table>
                        {{ add_skill_form.as_table }}
                    </table>
                    <input type="submit" value="Add"/>
                </form>
            </div>
            <div id="add_lang" class="edit-control">
                <label for="add_lang_form"><strong>Add a language skill</strong></label>

                <form action="{{ act }}" method="post"
                      id="add_lang_form">{% csrf_token %}
                    <table>
                        {{ add_lang_form.as_table }}
                    </table>
                    <input type="submit" value="Add"/>
                </form>
            </div>
        </div>

        <div>Missing skills: {{ char.missing_skills }}</div>


        <div id="log-entries">
            <ul>
                {% for entry in char.character.characterlogentry_set.all %}
                    <li>{{ entry.timestamp|naturaltime }}: {{ entry }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {

    var findRemoves = function (e) { return $(e)
            .find('.remove'); };
    var hideRemoves = function (e) { findRemoves(e).hide(); };
    var showRemoves = function (e) { findRemoves(e).show(); };

    $('.remove-container').find('.remove').hide().css('opacity', '0.5').end()
            .hover(function () { showRemoves(this); },
                   function () { hideRemoves(this); });

    $('.advanced').hideAdvanced({style: 'plain'});
});
</script>

{% endblock %}
