{% extends "base.html" %}
{% load sheet_extras %}

{% block title %} Sheet {% endblock %}

{% block content %}

<button class="edit_control">Printable</button>

<script>
    $("button.edit_control").click(function () {
      $("#sidebar").hide("slow");
      $("#authbar").hide("slow");
      $(".edit_control").hide("slow");
      $("body").css("font-size", "8pt")
      $(".edit_control").hide("slow");
    });    
</script>

<h1>{{ char.name }}</h1>
{{ char.race }}
{{ char.occupation }}
<p>
{{ char.character.description }}
</p>
<p>
{{ char.description }}
</p>

<div class="edit_control">
  <a href="{{ ROOT_URL }}characters/edit_char/{{char.character.id}}/">
    Edit basic character</a>
</div>

<div class="stats">
<table class="stats">
{% for stat in char.stats %}
  <tr><td class="stats name">{{ stat.name|upper }}</td>
      <td class="stats base">{{ stat.base }}</td>
      <td class="stats eff">{{ stat.eff }}</td>
      {% if stat.add_form %}
      <td class="edit_control">
           <div class="edit_control">
              <form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post">
                {% csrf_token %}
                {{ stat.add_form }}
              <input type="submit" value="+" />
              </form>
           </div>
      </td> 
      <td class="edit_control">
           <div class="edit_control">
              <form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post">
                {% csrf_token %}
                {{ stat.dec_form }}
              <input type="submit" value="-" />
              </form>
           </div>
      </td> 
      {% else %}
      <td class="edit_control"/>
      <td class="edit_control"/>
      {% endif %}
  </tr>
{% endfor %}
</table>
</div>

<div class="xp">
XP: {{ char.xp_used_stats }} + {{ char.xp_used_edges }} + 
{{ char.xp_used_ingame }} = {{ char.xp_used }} / {{char.total_xp}}
</div>

<div class="armor">
  <table>
    <thead>
      <tr><th></th><th></th><th>P</th><th>S</th><th>B</th><th>R</th></tr>
    </thead>
    <tr><td>8</td><td>Head</td>
      {% render_armor_leth_red char.helm "h" %}</tr>
    <tr><td>5-7</td><td>Torso</td>
      {% render_armor_leth_red char.armor "t" %}</tr>
    <tr><td>4</td><td>Right arm</td>
      {% render_armor_leth_red char.armor "ra" %}</tr>
    <tr><td>3</td><td>Right leg</td>
      {% render_armor_leth_red char.armor "rl" %}</tr>
    <tr><td>2</td><td>Left arm</td>
      {% render_armor_leth_red char.armor "la" %}</tr>
    <tr><td>1</td><td>Left leg</td>
      {% render_armor_leth_red char.armor "ll" %}</tr>
  </table>
</div>

<h3>Close combat</h3>
{% if char.weapons %}
<table>
      <tr class="close-combat header">
      <td />
      <td>ROA</td>
      {% for act in char.actions %}
         <td>{{ act }}</td>
      {% endfor %}
      <td colspan="5">Attack</td>
      <td colspan="4">Defenses</td>
       </tr>

    {% for item in char.weapons %}
      <tr>
      <td class="weapon name" rowspan="3">{{ item.item }}
	{% comment %}
	{% if not item.skilled %}
	<div class="unskilled">unskilled</div>
	{% endif %}
	{% endcomment %}
      </td>
        <td>{{ item.full.roa }}</td>
        {% for act in item.full.skill_checks %}
           <td>{{ act }}</td>
        {% endfor %}
        {% for init in item.full.initiatives %}
           <td>{{ init }}</td>
        {% endfor %}
        <td>{{ item.full.damage }}</td>
        {% for init in item.full.defense_initiatives %}
           <td class="defense initiative">{{ init }}</td>
        {% endfor %}
        <td class="defense damage">{{ item.full.defense_damage }}</td>
        <td>{{ item.durability }}</td>
       <td class="edit_control">
           <div class="edit_control">
              <form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post">
                {% csrf_token %}
                {{ item.remove_form }}
              <input type="submit" value="Remove" />
              </form>
           </div>
       </td> 
       </tr>
        <tr>
        <td>{{ item.pri.roa }}</td>
        {% for act in item.pri.skill_checks %}
           <td>{{ act }}</td>
        {% endfor %}
        {% for init in item.pri.initiatives %}
           <td>{{ init }}</td>
        {% endfor %}
        <td>{{ item.pri.damage }}</td>
        {% for init in item.pri.defense_initiatives %}
           <td class="defense initiative">{{ init }}</td>
        {% endfor %}
        <td class="defense damage">{{ item.pri.defense_damage }}</td>
        </tr>
        <tr>
        <td>{{ item.sec.roa }}</td>
        {% for act in item.sec.skill_checks %}
           <td>{{ act }}</td>
        {% endfor %}
        {% for init in item.sec.initiatives %}
           <td class="attack initiative">{{ init }}</td>
        {% endfor %}
        <td>{{ item.sec.damage }}</td>
        {% for init in item.sec.defense_initiatives %}
           <td class="defense initiative">{{ init }}</td>
        {% endfor %}
        <td class="defense damage">{{ item.sec.defense_damage }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No weapons.</p>
{% endif %}

<div id="add_weapon" class="edit_control">
<label for="add_weapon_form"><strong>Add a weapon</strong></label>
<form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post" 
      id="add_weapon_form">{% csrf_token %}
<table>
{{ add_weapon_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
</div>

<h3>Spell effects</h3>
{% if char.spell_effects %}
<ul>
    {% for item in char.spell_effects %}
        <li>{{ item.item }} 
           <div class="edit_control">
              <form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post">
                {% csrf_token %}
                {{ item.remove_form }}
              <input type="submit" value="Remove" />
              </form>
           </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No spell effects.</p>
{% endif %}

<div id="add_spell_effect" class="edit_control">
<label for="add_spell_effect_form"><strong>Add a spell effect</strong></label>
<form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post" 
      id="add_spell_effect_form">{% csrf_token %}
<table>
{{ add_spell_effect_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
</div>

<div class="skills">
<h3>Skills</h3>
{% if char.skills %}
<table>
    {% for skill in char.skills %}
        <tr><td>{{ skill.skill }}</td><td>{{ skill.level }}</td>
            <td>{{ skill.cost }}</td><td>{{ skill.comments }}</td>
            <td>
              <div class="edit_control">
                 <form action="{{ ROOT_URL }}sheets/{{char.id}}/" 
                       method="post">
                   {% csrf_token %}
                   {{ skill.remove_form }}
                 <input type="submit" value="Remove" />
                 </form>
              </div>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No skills.</p>
{% endif %}

<div id="add_skill" class="edit_control">
<label for="add_skill_form"><strong>Add a skill</strong></label>
<form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post" 
      id="add_skill_form">{% csrf_token %}
<table>
{{ add_skill_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
</div>
</div>

<h3>Edges</h3>
{% if char.edges %}
<table>
    {% for edge in char.edges %}
        <tr><td>{{ edge.edge }}</td>
            <td>
              <div class="edit_control">
                 <form action="{{ ROOT_URL }}sheets/{{char.id}}/" 
                       method="post">
                   {% csrf_token %}
                   {{ edge.remove_form }}
                 <input type="submit" value="Remove" />
                 </form>
              </div>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No edges.</p>
{% endif %}

<div id="add_edge" class="edit_control">
<label for="add_edge_form"><strong>Add an edge</strong></label>
<form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post" 
      id="add_edge_form">{% csrf_token %}
<table>
{{ add_edge_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
</div>

<h3>Helmet</h3>
{% if char.helm %}
{% with char.helm as helm %}
<table>
  <tr><td>{{ helm.item }}</td>
    <td>
      <div class="edit_control">
        <form action="{{ ROOT_URL }}sheets/{{char.id}}/" 
              method="post">
          {% csrf_token %}
          {{ helm.remove_form }}
          <input type="submit" value="Remove" />
        </form>
      </div>
    </td>
  </tr>
</table>
{% endwith %}
{% else %}
<p>No helmet.</p>
{% endif %}

<div id="add_edge" class="edit_control">
<label for="add_edge_form"><strong>Add a helmet</strong></label>
<form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post" 
      id="add_helmet_form">{% csrf_token %}
<table>
{{ add_helm_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
</div>

<h3>Armor</h3>
{% if char.armor %}
{% with char.armor as armor %}
<table>
  <tr><td>{{ armor.item }}</td>
    <td>
      <div class="edit_control">
        <form action="{{ ROOT_URL }}sheets/{{char.id}}/" 
              method="post">
          {% csrf_token %}
          {{ armor.remove_form }}
          <input type="submit" value="Remove" />
        </form>
      </div>
    </td>
  </tr>
</table>
{% endwith %}
{% else %}
<p>No armor.</p>
{% endif %}

<div id="add_edge" class="edit_control">
<label for="add_edge_form"><strong>Add armor</strong></label>
<form action="{{ ROOT_URL }}sheets/{{char.id}}/" method="post" 
      id="add_armor_form">{% csrf_token %}
<table>
{{ add_armor_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
</div>

<script src="{{ STATIC_URL}}jquery-combobox.js"></script>
<script>
    $(document).ready(function () {
    $("#add_skill select").combobox();
    });
</script>

{% endblock %}
