{% extends "base.html" %}
{% load sheet_extras %}
{% load humanize %}

{% block title %} Sheet {% endblock %}

{% block content %}

<h1>{{ char.name }}</h1>
{{ char.race }}
{{ char.occupation }}
<p>
{{ char.character.description }}
</p>
<p>
{{ char.description }}
</p>

<div class="edit_control">
  <p>
    <a href="{% url edit_character char.character.id %}">
      Edit base character</a>
  </p>
  <p>
    <a href="{% url edit_sheet char.id %}">
      Edit base sheet</a>
  </p>
</div>

<div class="stats">

{% url sheet.views.sheet_detail char.id as act %}

<table class="base">
{% for stat in char.stats %}
  <tr><td class="stats name">{{ stat.name|upper }}</td>
      <td class="stats base">{{ stat.base }}</td>
      <td class="stats eff">{{ stat.eff }}</td>
      {% if stat.add_form %}
      <td class="edit_control">
           <div class="edit_control">
              <form action="{{ act }}" method="post">
                {% csrf_token %}
                {{ stat.add_form }}
              <input type="submit" value="+" />
              </form>
           </div>
      </td> 
      <td class="edit_control">
           <div class="edit_control">
              <form action="{{ act }}" method="post">
                {% csrf_token %}
                {{ stat.dec_form }}
              <input type="submit" value="-" />
              </form>
           </div>
      </td> 
      {% else %}
      <td class="edit_control"/>
      <td class="edit_control"/>
      {% endif %}
  </tr>
{% endfor %}
</table>

<table class="derived">
{% with b=char.body sta=char.stamina mana=char.mana %}
{# XXX Temporary stamina and body #}
  <tr class="body">
    <td>B</td><td>{{ b.base}}</td>
    <td>{{ b.mod|default:""}}</td>
    <td>{{ b.recovery_rate|default:"" }}</td>
  </tr>
  <tr class="stamina">
    <td>S</td><td>{{ sta.base}}</td>
    <td>{{ sta.mod|default:""}}</td>
    <td>{{sta.recovery_rate|default:"" }}</td>
  </tr>
  <tr class="mana">
    <td>M</td><td>{{ mana.base}}</td>
    <td>{{ mana.mod|default:""}}</td>
    <td>{{mana.recovery_rate|default:"" }}</td>
  </tr>
{% endwith %}
</table>

</div>

<div class="xp">
XP: {{ char.xp_used_stats }} + 
{% if char.hero %}
{{ char.xp_used_hero }} + 
{% endif %}
{{ char.xp_used_edges }} + 
{{ char.xp_used_ingame }} = {{ char.xp_used }} / {{char.total_xp}}
</div>

<div class="armor">
  {{ char.helm }} + {{ char.armor }}
  <table>
    <thead>
      <tr><th></th><th></th><th>P</th><th>S</th><th>B</th><th>R</th>
	<th>DR</th><th>DP</th></tr>
    </thead>
    <tr><td>8</td><td>Head</td>
      {% render_armor char.helm "h" %}
      </tr>
    <tr><td>5-7</td><td>Torso</td>
      {% render_armor char.armor "t" %}</tr>
    <tr><td>4</td><td>Right arm</td>
      {% render_armor char.armor "ra" %}</tr>
    <tr><td>3</td><td>Right leg</td>
      {% render_armor char.armor "rl" %}</tr>
    <tr><td>2</td><td>Left arm</td>
      {% render_armor char.armor "la" %}</tr>
    <tr><td>1</td><td>Left leg</td>
      {% render_armor char.armor "ll" %}</tr>
  </table>
</div>

<div>
  <ul>
    <li>Weight carried: {{ char.weight_carried }} kg </li>
  </ul>
</div>
<h3>Close combat</h3>
{% if char.weapons %}
<table class="close combat">
      <tr >
      <th />
      <th>ROA</th>
      {% for act in char.actions %}
         <th>{{ act }}</th>
      {% endfor %}
      <th colspan="5">Attack</th>
      <th colspan="4">Defenses</th>
       </tr>

{% comment %}
      * Add a note about already applied penalties and bonuses
        * wrong hand penalty for SEC
{% endcomment %}

    {% for item in char.weapons %}
      <tr>
      <td class="weapon name" rowspan="3">{{ item.item }}
	{% if not item.skilled %}
	<div class="unskilled">unskilled</div>
	{% endif %}
	<div class="charge damage"><label>Charge:</label>
	  {{ item.special.damage }}</div>
      </td>
        <td>{{ item.full.roa }}</td>
        {% for act in item.full.skill_checks %}
           <td>{{ act }}</td>
        {% endfor %}
        {% for init in item.full.initiatives %}
           <td>{{ init|stringformat:"+d" }}</td>
        {% endfor %}
        <td>{{ item.full.damage }}</td>
        {% for init in item.full.defense_initiatives %}
           <td class="defense initiative">{{ init|stringformat:"+d" }}</td>
        {% endfor %}
        <td class="defense damage">{{ item.full.defense_damage }}</td>
        <td>{{ item.durability }}</td>
       <td class="edit_control">
           <div class="edit_control">
              <form action="{{ act }}" method="post">
                {% csrf_token %}
                {{ item.remove_form }}
              <input type="submit" value="Remove" />
              </form>
           </div>
       </td> 
       </tr>
        <tr>
        <td>{{ item.pri.roa }}</td>
        {% for act in item.pri.skill_checks %}
           <td>{{ act }}</td>
        {% endfor %}
        {% for init in item.pri.initiatives %}
           <td>{{ init|stringformat:"+d" }}</td>
        {% endfor %}
        <td>{{ item.pri.damage }}</td>
        {% for init in item.pri.defense_initiatives %}
           <td class="defense initiative">{{ init|stringformat:"+d" }}</td>
        {% endfor %}
        <td class="defense damage">{{ item.pri.defense_damage }}</td>
        </tr>
        <tr>
        <td>{{ item.sec.roa }}</td>
        {% for act in item.sec.skill_checks %}
           <td>{{ act }}</td>
        {% endfor %}
        {% for init in item.sec.initiatives %}
           <td class="attack initiative">{{ init|stringformat:"+d" }}</td>
        {% endfor %}
        <td>{{ item.sec.damage }}</td>
        {% for init in item.sec.defense_initiatives %}
           <td class="defense initiative">{{ init|stringformat:"+d" }}</td>
        {% endfor %}
        <td class="defense damage">{{ item.sec.defense_damage }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No weapons.</p>
{% endif %}

<div id="add_weapon" class="edit_control">
<label for="add_weapon_form"><strong>Add a weapon</strong></label>
<form action="{{ act }}" method="post" 
      >{% csrf_token %}
<table>
{{ add_weapon_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
or
<div class="advanced" data-advanced-text="Create a new weapon">
  <form action="{{ act }}" method="post" 
	id="add_weapon_form">{% csrf_token %}
    <table>
      {{ new_weapon_form.as_table }}
    </table>
    <input type="submit" value="Add" />
  </form>
</div>
</div>

<h3>Ranged combat</h3>
{% if char.ranged_weapons %}
<table>
  <tr class="ranged combat header">
    <th />
    <th>ROF</th>
    {% for act in char.ranged_actions %}
    <th>{{ act }}</th>
    {% endfor %}
    <th colspan="5">Attack</th>
    <th>S/M/L/XL/E</th>
  </tr>

  {% for item in char.ranged_weapons %}
  <tr>
    <td class="weapon name">{{ item.item }}
      {% if not item.skilled %}
      <div class="unskilled">unskilled</div>
      {% endif %}
    </td>
    <td>{{ item.rof }}</td>
    {% for act in item.skill_checks %}
    <td>{{ act.check|default:"" }}</td>
    {% endfor %}
    {% for init in item.initiatives %}
    <td>{{ init|stringformat:"+d" }}</td>
    {% endfor %}

    <td>{{ item.damage }}</td>
    <td>{{ item.durability }}</td>
    <td>
    {% with rr=item.ranges %}
    {{ rr.s }} /  {{ rr.m }} / {{ rr.l }} / {{ rr.xl }} / {{ rr.e }}
    {% endwith %}
    </td>
    <td class="edit_control">
      <div class="edit_control">
        <form action="" method="post">
          {% csrf_token %}
          {{ item.remove_form }}
          <input type="submit" value="Remove" />
        </form>
      </div>
    </td> 
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No ranged weapons.</p>
{% endif %}
<div id="add_ranged_weapon" class="edit_control">
<label for="add_weapon_form"><strong>Add a ranged weapon</strong></label>
<form action="" method="post" 
      id="add_ranged_weapon_form">
  {% csrf_token %}
<ul>
{{ add_ranged_weapon_form.as_ul }}
</ul>
<input type="submit" value="Add" />
</form>
or
<div class="advanced" data-advanced-text="Create a new weapon">
  <form action="{{ act }}" method="post"
	id="add_weapon_form">{% csrf_token %}
    <table>
      {{ new_ranged_weapon_form.as_table }}
    </table>
    <input type="submit" value="Add" />
</div>
</form>
<a href="{% url add_ranged_weapon_template %}">
  Create new ranged weapon template</a>
</div>

<h3>Spell effects</h3>
{% if char.spell_effects %}
<ul>
    {% for item in char.spell_effects %}
        <li>{{ item.item }} 
           <div class="edit_control">
              <form action="{{ act }}" method="post">
                {% csrf_token %}
                {{ item.remove_form }}
              <input type="submit" value="Remove" />
              </form>
           </div>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No spell effects.</p>
{% endif %}

<div id="add_spell_effect" class="edit_control">
<label for="add_spell_effect_form"><strong>Add a spell effect</strong></label>
<form action="{{ act }}" method="post" 
      id="add_spell_effect_form">{% csrf_token %}
<table>
{{ add_spell_effect_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>

<a href="{% url add_spell_effect %}">Create new spell effect</a>
</div>

<div id="right-pane">
  <div class="skills">
    <h3>Skills</h3>
    {% with skills=char.skills %}
    {% if skills %}
    <table>
      {% for skill in skills %}
      <tr class="{% spaceless %}
		 indent{{skill.indent}}
		 {% if skill.skill.is_specialization %}
		 specialization
		 {% endif %}
		 {% endspaceless %}">
	<td>{{ skill.skill }}</td>
	<td>
	  <div class="edit_control">
            <form action="{{ act }}" 
		  method="post">
              {% csrf_token %}
              {{ skill.dec_level_form }}
              <input type="submit" value="-" />
            </form>
	  </div>
	</td>
	<td>{{ skill.level }}</td>
	<td>
	  <div class="edit_control">
            <form action="{{ act }}" 
		  method="post">
              {% csrf_token %}
              {{ skill.add_level_form }}
              <input type="submit" value="+" />
            </form>
	  </div>
	</td>
	<td>{{ skill.cost }}</td><td class="check">
	  {% if not skill.skill.is_specialization %}
	  {{ skill.check }}{% endif %}</td>
	<td>
	  <div class="edit_control">
            <form action="{{ act }}" 
		  method="post">
              {% csrf_token %}
              {{ skill.remove_form }}
              <input type="submit" value="Remove" />
            </form>
	  </div>
	</td>
	<td>{{ skill.comments }}</td>
      </tr>
      {% endfor %}
    </table>
    <div> {% sum_sp_cost skills %} / {{ char.initial_sp }} + {{ char.gained_sp }} </div>
    <div>Age SP: {{ char.age_sp }} </div>
    {% else %}
    <p>No skills.</p>
    {% endif %}
    {% endwith %}

    <div id="add_skill" class="edit_control">
      <label for="add_skill_form"><strong>Add a skill</strong></label>
      <form action="{{ act }}" method="post" 
	    id="add_skill_form">{% csrf_token %}
	<table>
	  {{ add_skill_form.as_table }}
	</table>
	<input type="submit" value="Add" />
      </form>
    </div>
    <div id="add_lang" class="edit_control">
      <label for="add_lang_form"><strong>Add a language skill</strong></label>
      <form action="{{ act }}" method="post" 
	    id="add_lang_form">{% csrf_token %}
	<table>
	  {{ add_lang_form.as_table }}
	</table>
	<input type="submit" value="Add" />
      </form>
    </div>
  </div>

  <div id="log-entries">
    <ul>
    {% for entry in char.character.characterlogentry_set.all %}
    <li>{{ entry.timestamp|naturaltime }}: {{ entry }}</li>
    {% endfor %}
    </ul>
  </div>
</div>

<h3>Edges</h3>
{% with edges=char.edges %}
{% if edges %}
<table>
    {% for edge in edges %}
        <tr><td>{{ edge.edge }}</td>
            <td>
              <div class="edit_control">
                 <form action="{{ act }}" 
                       method="post">
                   {% csrf_token %}
                   {{ edge.remove_form }}
                 <input type="submit" value="Remove" />
                 </form>
              </div>
            </td>
	  <td>
	    {% for sb in edge.edge.edgeskillbonus_set.all %} 
	    {% if forloop.counter0 %},{% endif %}
	      {{ sb.skill}}: {{ sb.bonus|stringformat:"+d" }}
	    {% endfor %}
	  </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No edges.</p>
{% endif %}
{% endwith %}

<div id="add_edge" class="edit_control">
<label for="add_edge_form"><strong>Add an edge</strong></label>
<form action="{{ act }}" method="post" 
      id="add_edge_form">{% csrf_token %}
<table>
{{ add_edge_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
<a href="{% url add_edge %}">Create new edge</a>
<a href="{% url add_edge_level %}">Create new edge level</a>
<a href="{% url add_edge_skill_bonus %}">Create new skill bonus
  for edge level</a>
</div>

<h3>Helmet</h3>
{% if char.helm %}
{% with char.helm as helm %}
<table>
  <tr><td>{{ helm.item }}</td>
    <td>
      <div class="edit_control">
        <form action="{{ act }}" 
              method="post">
          {% csrf_token %}
          {{ helm.remove_form }}
          <input type="submit" value="Remove" />
        </form>
      </div>
    </td>
  </tr>
</table>
{% endwith %}
{% else %}
<p>No helmet.</p>
{% endif %}

<div id="add_helmet" class="edit_control">
<label for="add_helmet_form"><strong>Add a helmet</strong></label>
<form action="{{ act }}" method="post" 
      id="add_helmet_form">{% csrf_token %}
<table>
{{ add_helm_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
or
<div class="advanced" data-advanced-text="Create a new helm">
  <form action="{{ act }}" method="post" 
	id="add_helmet_form">{% csrf_token %}
    <table>
      {{ new_helm_form.as_table }}
    </table>
    <input type="submit" value="Add" />
  </form>
</div>
</div>

<h3>Armor</h3>
{% if char.armor %}
{% with char.armor as armor %}
<table>
  <tr><td>{{ armor.item }}</td>
    <td>
      <div class="edit_control">
        <form action="{{ act }}" 
              method="post">
          {% csrf_token %}
          {{ armor.remove_form }}
          <input type="submit" value="Remove" />
        </form>
      </div>
    </td>
  </tr>
</table>
{% endwith %}
{% else %}
<p>No armor.</p>
{% endif %}

<div id="add_armor" class="edit_control">
<label for="add_armor_form"><strong>Add armor</strong></label>
<form action="{{ act }}" method="post" 
      id="add_armor_form">{% csrf_token %}
<table>
{{ add_armor_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
or
<div class="advanced" data-advanced-text="Create a new armor">
  <form action="{{ act }}" method="post" 
	id="add_armor_form">{% csrf_token %}
    <table>
      {{ new_armor_form.as_table }}
    </table>
    <input type="submit" value="Add" />
  </form>
</div>
<a href="{% url add_armor_template %}">Create new armor template</a>
</div>

<div>Missing skills: {{ char.missing_skills}}</div>

<script src="{{ STATIC_URL }}jquery-combobox.js"></script>
<script src="{{ STATIC_URL }}hideAdvanced.js"></script>
<script>
    $(document).ready(function () {
    $("#add_skill select").combobox();
    $("#add_lang select").combobox();
    $(".advanced").each(function () { 
	$(this).hideAdvanced({ showAdvancedText: 
			       $(this).attr('data-advanced-text'),
			       startOpen: $(this).find('.errorlist').length > 0
			     });
    });
    $("button.show-hide-advanced").css('display', 'block');
    });
</script>

<div class="edit_control">
<pre>
TODO:
-----
{{ TODO }}
</pre>
</div>
{% endblock %}
