<h1>{{ char.name }}</h1>
{{ char.race }}
{{ char.occupation }}
<p>
{{ char.description }}

<table>
<tr>
<td>
<strong>FIT</strong>
</td>
<td>
{{ char.start_fit}}
</td>
<td>
{{ char.cur_fit}}
</td>
</tr>
<tr>
<td>
<strong>REF</strong>
</td>
<td>
{{ char.start_ref}}
</td>
<td>
{{ char.cur_ref }}
</td>
</tr>
<tr>
<td>
<strong>LRN</strong>
</td>
<td>
{{ char.start_lrn}}
</td>
<td>
{{ char.cur_lrn }}
</td>
</tr>
<tr>
<td>
<strong>INT</strong>
</td>
<td>
{{ char.start_int}}
</td>
<td>
{{ char.cur_int}}
</td>
<tr>
<td>
<strong>PSY</strong>
</td>
<td>
{{ char.start_psy}}
</td>
<td>
{{ char.cur_psy}}
</td>
</tr>
<tr>
<td>
<strong>WIL</strong>
</td>
<td>
{{ char.start_wil}}
</td>
<td>
{{ char.cur_wil}}
</td>
</tr>
<tr>
<td>
<strong>CHA</strong>
</td>
<td>
{{ char.start_cha}}
</td>
<td>
{{ char.cur_cha}}
</td>
</tr>
<tr>
<td>
<strong>POS</strong>
</td>
<td>
{{ char.start_pos}}
</td>
<td>
{{ char.cur_pos}}
</td>
</tr>
<tr>
<td>
<strong>DEX</strong>
</td>
<td>
{{ char.cur_dex}}
</td>
<td>
</td>
</tr>
</table>
