<h1>{{ char.name }}</h1>
{{ char.race }}
{{ char.occupation }}
<p>
{{ char.character.description }}
</p>
<p>
{{ char.description }}
</p>
<table>
<tr>
<td>
</td>
<td>
base
</td>
<td>
eff
</td>
</tr>
<tr>
<td>
<strong>FIT</strong>
</td>
<td>
{{ char.fit}}
</td>
<td>
{{ char.eff_fit}}
</td>
</tr>
<tr>
<td>
<strong>REF</strong>
</td>
<td>
{{ char.ref}}
</td>
<td>
{{ char.eff_ref }}
</td>
</tr>
<tr>
<td>
<strong>LRN</strong>
</td>
<td>
{{ char.lrn}}
</td>
<td>
{{ char.eff_lrn }}
</td>
</tr>
<tr>
<td>
<strong>INT</strong>
</td>
<td>
{{ char.int}}
</td>
<td>
{{ char.eff_int}}
</td>
<tr>
<td>
<strong>PSY</strong>
</td>
<td>
{{ char.psy}}
</td>
<td>
{{ char.eff_psy}}
</td>
</tr>
<tr>
<td>
<strong>WIL</strong>
</td>
<td>
{{ char.wil}}
</td>
<td>
{{ char.eff_wil}}
</td>
</tr>
<tr>
<td>
<strong>CHA</strong>
</td>
<td>
{{ char.cha}}
</td>
<td>
{{ char.eff_cha}}
</td>
</tr>
<tr>
<td>
<strong>POS</strong>
</td>
<td>
{{ char.pos}}
</td>
<td>
{{ char.eff_pos}}
</td>
</tr>
<tr>
<td>
<strong>MOV</strong>
</td>
<td>
{{ char.mov}}
</td>
<td>
{{ char.eff_mov}}
</td>
</tr>
<tr>
<td>
<strong>DEX</strong>
</td>
<td>
{{ char.dex}}
</td>
<td>
{{ char.eff_dex}}
</td>
</tr>
<tr>
<td>
<strong>IMM</strong>
</td>
<td>
{{ char.imm}}
</td>
<td>
{{ char.eff_imm}}
</td>
</tr>
</table>

<h3>Weapons</h3>
{% if char.weapons %}
<ul>
    {% for item in char.weapons %}
        <li>{{ item.item }} 
           <span class="edit_form">
              <form action="/sheets/{{char.id}}/" method="post">
                {% csrf_token %}
                {{ item.remove_form }}
              <input type="submit" value="Remove" />
              </form>
           </span>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No weapons.</p>
{% endif %}

<div id="add_weapon" class="edit_form">
<label for="add_weapon_form"><strong>Add a weapon</strong></label>
<form action="/sheets/{{char.id}}/" method="post" 
      id="add_weapon_form">{% csrf_token %}
<table>
{{ add_weapon_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
</div>

<h3>Spell effects</h3>
{% if char.spell_effects %}
<ul>
    {% for item in char.spell_effects %}
        <li>{{ item.item }} 
           <span class="edit_form">
              <form action="/sheets/{{char.id}}/" method="post">
                {% csrf_token %}
                {{ item.remove_form }}
              <input type="submit" value="Remove" />
              </form>
           </span>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No spell effects.</p>
{% endif %}

<div id="add_spell_effect" class="edit_form">
<label for="add_spell_effect_form"><strong>Add a spell effect</strong></label>
<form action="/sheets/{{char.id}}/" method="post" 
      id="add_spell_effect_form">{% csrf_token %}
<table>
{{ add_spell_effect_form.as_table }}
</table>
<input type="submit" value="Add" />

<h3>Skills</h3>
{% if char.skills %}
<table>
    {% for skill in char.skills %}
        <tr><td>{{ skill.skill }}</td><td>{{ skill.level }}</td>
            <td>{{ skill.cost }}</td><td>{{ skill.comments }}</td>
            <td>
              <span class="edit_form">
                 <form action="/sheets/{{char.id}}/" method="post">
                   {% csrf_token %}
                   {{ skill.remove_form }}
                 <input type="submit" value="Remove" />
                 </form>
              </span>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No skills.</p>
{% endif %}

<div id="add_skill" class="edit_form">
<label for="add_skill_form"><strong>Add skill</strong></label>
<form action="/sheets/{{char.id}}/" method="post" 
      id="add_skill_form">{% csrf_token %}
<table>
{{ add_skill_form.as_table }}
</table>
<input type="submit" value="Add" />

<h3>Edges</h3>
{% if char.edges.exists %}
<table>
    {% for edge in char.edges.all %}
        <tr><td>{{ edge.edge }}</td>
            <td>
              <span class="edit_form">
                 <form action="/sheets/{{char.id}}/" method="post">
                   {% csrf_token %}
                   {{ edge.remove_form }}
                 <input type="submit" value="Remove" />
                 </form>
              </span>
            </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No edges.</p>
{% endif %}
