Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["devsheet"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  "/tmp/sheet.dump" :
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.eu-central-1.amazonaws.com/devsheet/sheet.dump

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: sheet/wsgi.py

container_commands:
  01_migrate:
    command: "./manage.py migrate --noinput"
    leader_only: true
