commands:
  01_add_node_repos:
    command: "curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -"
    test: "test ! -x /usr/bin/node"
  02_install:
    command: "yum install -y nodejs"
  03_update:
    command: "npm install -g npm"

container_commands:
  01_build:
    command: "npm install"
  02_build:
    command: "npm run build"
  03_collect:
    command: "./manage.py collectstatic --noinput --ignore node_modules"
