{% load sheet_extras %}

<div class="armor">
  {{ char.helm }} + {{ char.armor }}
  <table class="">
    <thead>
      <tr><th></th><th></th>
          <th title="Protection against piercing damage">P</th>
          <th title="Protection against slashing damage">S</th>
          <th title="Protection against bludgeoning damage">B</th>
          <th title="Protection against burn damage">R</th>
	<th title="Damage reduction">DR</th><th title="Damage points">DP</th><th
                  title="Protection
	level">PL</th></tr>
    </thead>
    <tr><td class="roll">8</td><td class="location" title="Head">H</td>
        {% render_armor char.helm "h" %}
      </tr>
    <tr><td class="roll">5-7</td><td class="location" title="Torso">T</td>
        {% render_armor char.armor "t" %}
    </tr>
    <tr><td class="roll">4</td><td class="location" title="RA">RA</td>
        {% render_armor char.armor "ra" %}
    </tr>
    <tr><td class="roll">3</td><td class="location" title="Right leg">RL</td>
        {% render_armor char.armor "rl" %}
    </tr>
    <tr><td class="roll">2</td><td class="location" title="Left arm">LA</td>
        {% render_armor char.armor "la" %}
    </tr>
    <tr><td class="roll">1</td><td class="location" title="Left leg">LL</td>
        {% render_armor char.armor "ll" %}
    </tr>
  </table>
</div>
