{% with edges=char.edges %}
{% if edges %}
<table>
    {% for edge in edges %}
        <tr><td>{{ edge.edge }}</td>
            <td>
              <div class="edit-control">
                 <form action="{{ act }}" 
                       method="post">
                   {% csrf_token %}
                   {{ edge.remove_form }}
                 <input type="submit" value="Remove" />
                 </form>
              </div>
            </td>
	  <td>
	    {% for sb in edge.edge.edgeskillbonus_set.all %} 
	    {% if forloop.counter0 %},{% endif %}
	      {{ sb.skill}}: {{ sb.bonus|stringformat:"+d" }}
	    {% endfor %}
	  </td>
        </tr>
    {% endfor %}
</table>
{% else %}
<p>No edges.</p>
{% endif %}
{% endwith %}

<div id="add_edge" class="edit-control advanced"
        data-advanced-text="Add edges">
<label for="add_edge_form"><strong>Add an edge</strong></label>
<form action="{{ act }}" method="post"
      id="add_edge_form">{% csrf_token %}
<table>
{{ add_edge_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
<a href="{% url "add_edge" %}">Create new edge</a>
<a href="{% url "add_edge_level" %}">Create new edge level</a>
<a href="{% url "add_edge_skill_bonus" %}">Create new skill bonus
  for edge level</a>
</div>
