{% load sheet_extras %}
<div class="ranged-weapon">
{% for item in weapons %}
    <div class="row">
    <div class="col-md-9">
<table class="combat">
<thead>
  <tr>
    <th></th>
    <th>Lvl</th>
    <th>ROF</th>
    {% for act in actions %}
    <th>{{ act }}</th>
    {% endfor %}
    <th>TI</th>
    <th>DI</th>
    <th>Damage</th>
    <th>S/M/L</th>
  </tr>
</thead>
      <tbody>
  <tr>
    <td class="weapon name" rowspan="2">
    <div class="remove-container">
    {% if item.item.ammo %}
        {{ item.item.base }}
    {% else %}
        {{ item.item }}
    {% endif %}
      {% if not item.skilled %}
      <div class="unskilled">unskilled</div>
      {% endif %}
      {% if item.bypass %}
          <div class="bypass"><label>Bypass:</label>{{ item.bypass }}</div>
      {% endif %}
      <div class="durability"><label>Durability:</label>{{ item.durability }}</div>
      <div class="remove edit-control">
        <form action="" method="post">
          {% csrf_token %}
          {{ item.remove_form }}
          <input type="submit" value="Remove" />
        </form>
      </div>
    </div>
    </td>
    <td>{{ item.level|default:"B" }}</td>
    <td>{{ item.rof|stringformat:".2f" }}</td>
    {% for act in item.skill_checks %}
    <td class="tohit">{{ act.check|default:"" }}</td>
    {% endfor %}
    <td>{{ item.target_initiative }}</td>
    <td>{{ item.draw_initiative }}</td>
    <td rowspan="2">{{ item.damage }} ({{ item.item.ammo.type }})
        <div>{{ item.item.ammo }}</div></td>
    <td rowspan="2">
    {% with rr=item.ranges %}
        {{ rr.s }} /  {{ rr.m }} / {{ rr.l }}
    {% endwith %}
    </td>
  </tr>
      <tr>
      <td colspan="2" class="help-text">
          I vs. 1 target
      </td>
          {% for act in item.skill_checks %}
              <td class="attack initiative">
                  {% if act.check != None %}
                      {{ act.initiative|stringformat:"+d" }}
                  {% endif %}
              </td>
          {% endfor %}
      <td></td>
      <td></td>
      </tr>
      </tbody>
</table>
</div>
    {% if item.base.autofire_rpm %}
    <div class="col-md-3">
      <table class="combat">
          {% render_burst_fire item %}
      </table>
        {% if not char.skill_lookup.Autofire %}
            <div class="unskilled">Unskilled</div>
        {% endif %}
    </div>
    {% endif %}
    </div>
  {% endfor %}
</div>
