{% if char.ranged_weapons %}
<table class="combat">
  <tr>
    <th />
    <th>ROF</th>
    {% for act in char.ranged_actions %}
    <th>{{ act }}</th>
    {% endfor %}
    <th colspan="4">Attack</th>
    <th>S/M/L/XL/E</th>
  </tr>

  {% for item in char.ranged_weapons %}
  <tr>
    <td class="weapon name">
    <div class="remove-container">
        {{ item.item }}
      {% if not item.skilled %}
      <div class="unskilled">unskilled</div>
      {% endif %}
      {% if item.bypass %}
          <div class="bypass"><label>Bypass:</label>{{ item.bypass }}</div>
      {% endif %}
      <div class="durability"><label>Durability:</label>{{ item.durability }}</div>
      <div class="remove edit-control">
        <form action="" method="post">
          {% csrf_token %}
          {{ item.remove_form }}
          <input type="submit" value="Remove" />
        </form>
      </div>
    </div>
    </td>
    <td>{{ item.rof }}</td>
    {% for act in item.skill_checks %}
    <td class="tohit">{{ act.check|default:"" }}</td>
    {% endfor %}
    {% for init in item.initiatives %}
    <td>{{ init|stringformat:"+d" }}</td>
    {% endfor %}

    <td>{{ item.damage }}</td>
    <td>
    {% with rr=item.ranges %}
    {{ rr.s }} /  {{ rr.m }} / {{ rr.l }} / {{ rr.xl }} / {{ rr.e }}
    {% endwith %}
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No ranged weapons.</p>
{% endif %}
<div id="add_ranged_weapon_form" class="edit-control advanced"
        data-advanced-text="Add ranged weapons">
    <label for="add_ranged_weapon_form">Add a
        ranged weapon</label>
    <form id="add_ranged_weapon_form" action="{{ act }}" method="post"
            >{% csrf_token %}
        <ul>
            {{ add_ranged_weapon_form.as_ul}}
        </ul>
        <input type="submit" value="Add" />
    </form>

    <label for="add_existing_ranged_weapon_form">Add an existing
        ranged weapon</label>
<form id="add_existing_ranged_weapon_form" action="" method="post">
  {% csrf_token %}
<ul>
{{ add_existing_ranged_weapon_form.as_ul }}
</ul>
<input type="submit" value="Add" />
</form>
or
    <a href="{% url "add_ranged_weapon" %}">Create a new ranged weapon</a>
</div>
