  <tr><td class="stats name">{{ stat.name|upper }}</td>
      <td class="stats base">{{ stat.base }}</td>
      <td class="stats eff">{{ stat.eff }}</td>
      {% if stat.add_form %}
      <td class="edit-control">
           <div class="edit-control">
              <form action="{{ act }}" method="post">
                {% csrf_token %}
                {{ stat.add_form }}
              <input type="submit" value="+" />
              </form>
           </div>
      </td>
      <td class="edit-control">
           <div class="edit-control">
              <form action="{{ act }}" method="post">
                {% csrf_token %}
                {{ stat.dec_form }}
              <input type="submit" value="-" />
              </form>
           </div>
      </td>
          <td class="stats change">({{ stat.change|stringformat:"+d" }})</td>
      {% else %}
          <td class="edit-control"></td>
          <td class="edit-control"></td>
          <td></td>
      {% endif %}
  </tr>
