<!DOCTYPE html>
{% load static %}
{% load sheet_extras %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL}}style.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL}}css/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <script src="{{ STATIC_URL}}jquery.js"></script>
    <script src="{{ STATIC_URL}}jquery-ui-1.8.16.custom.min.js"></script>
    <title>{% block title %}AE Sheet{% endblock %}</title>
</head>

<body>
  <div id="top" class="container">
      <nav class="navbar navbar-default" role="navigation">

              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse"
                          data-target="#collapsible-navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">AE</a>
              </div>

          <div class="collapse navbar-collapse" id="collapsible-navbar">
        <ul class="nav navbar-nav">
        {% url "sheets_index" as sheets_url %}
            {% url "characters_index" as chars_url%}
            {% url "import" as import_url %}
            {% url "version_history" as history_url %}
            {% url "todo" as todo_url %}
            <li class="{% active request sheets_url %}">
                <a href="{{ sheets_url }}">Sheets</a></li>
            <li class="{% active request chars_url %}">
                <a href="{{ chars_url }}">Characters</a></li>
            <li class="{% active request import_url %}">
                <a href="{{ import_url }}">Import/export data</a></li>
            <li class="{% active request history_url %}">
                <a href="{{ history_url }}">ChangeLog</a></li>
            <li class="{% active request todo_url %}">
                <a href="{{ todo_url }}">TODO</a></li>
        </ul>
        {% block navigation %}
        {% endblock %}

              {% if user.is_authenticated %}
                  <ul class="nav navbar-nav navbar-right">
                      {% url "profile" as profile_url %}
                      <li class="{% active request profile_url %}">
                          <a href="{{ profile_url }}">{{ user }} </a>
                      </li>
                      <li>
                          <a href="{% url "logout" %}">Logout</a>
                      </li>
                  </ul>
              {% endif %}
          </div>
      </nav>
  </div>

  <div id="messages" class="container">
      {% for msg in messages %}
          <div class="alert alert-{% map_tag_to_bootstrap msg.tags %}">
              {{ msg }}
          </div>
      {% endfor %}
  </div>
  <div id="content" class="container">
    {% block content %}{% endblock %}
  </div>
  {% block script %}
  {% endblock %}
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
  <script type="application/javascript">
      $('.errorlist li').addClass('label label-danger');
  </script>
</body>
</html>
