<!DOCTYPE html>
{% load url from future %}
{% load static %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL}}style.css" />
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL}}css/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <script src="{{ STATIC_URL}}jquery.js"></script>
    <script src="{{ STATIC_URL}}jquery-ui-1.8.16.custom.min.js"></script>
    <title>{% block title %}AE Sheet{% endblock %}</title>
</head>

<body>
  <div id="top" class="container">
    <div id="navigation">
        {% block navigation %}
        <ul>
            <li><a href="{% url "sheet.views.sheets_index" %}">Sheets</a></li>
            <li><a href="{% url "sheet.views.characters_index" %}">
		Characters</a></li>
            <li><a href="{% url "import" %}">
		Import/export data</a></li>
            <li><a href="{% url "sheet.views.version_history" %}">
		ChangeLog</a></li>
            <li><a href="{% url "todo" %}">
		TODO</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="authbar">
      {% if user.is_authenticated %}
        <ul>
	  <li>
      Currently logged in: <a href="{% url "profile" %}"> 
        {{ user }} </a>
	  </li>
	  <li>
      <a href="{% url "logout" %}">Logout</a>
      </li>
      </ul>
      {% endif %}
      
    </div>
  </div>

  <div id="content" class="container">
    {% block content %}{% endblock %}
  </div>
  {% block script %}
  {% endblock %}
  <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>
