<!DOCTYPE html>
{% load static %}
{% load sheet_extras %}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL}}style.css" />
{#    <script src="{{ STATIC_URL}}jquery.js"></script>#}
    <title>{% block title %}AE Sheet{% endblock %}</title>
</head>

<body>
  <div id="top" class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex" role="navigation">

              <div class="navbar-header">
                  <a class="navbar-brand" href="#">AE</a>
                   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-navbar" aria-controls="collapsible-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
              </div>

          <div class="collapse navbar-collapse" id="collapsible-navbar">
        <ul class="navbar-nav">
        {% url "sheets_index" as sheets_url %}
            {% url "characters_index" as chars_url%}
            {% url "import" as import_url %}
            {% url "version_history" as history_url %}
            {% url "todo" as todo_url %}
            <li class="nav-item {% active request sheets_url %}">
                <a class="nav-link" href="{{ sheets_url }}">Sheets</a>
            </li>
            <li class="nav-item {% active request chars_url %}">
                <a class="nav-link" href="{{ chars_url }}">Characters</a></li>
            <li class="nav-item {% active request import_url %}">
                <a class="nav-link" href="{{ import_url }}">Import/export data</a></li>
            <li class="nav-item {% active request history_url %}">
                <a class="nav-link" href="{{ history_url }}">ChangeLog</a></li>
            <li class="nav-item {% active request todo_url %}">
                <a class="nav-link" href="{{ todo_url }}">TODO</a></li>
        </ul>
        {% block navigation %}
        {% endblock %}

              {% if user.is_authenticated %}
                  <ul class="nav navbar-nav ml-auto">
                      {% url "profile" as profile_url %}
                      <li class="nav-item {% active request profile_url %}">
                          <a class="nav-link" href="{{ profile_url }}">{{ user }} </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url "logout" %}">Logout</a>
                      </li>
                  </ul>
              {% endif %}
          </div>
      </nav>
  </div>

  <div id="messages" class="container">
      {% for msg in messages %}
          <div class="alert alert-{% map_tag_to_bootstrap msg.tags %}">
              {{ msg }}
          </div>
      {% endfor %}
  </div>
  <div id="content" class="container">
    {% block content %}{% endblock %}
  </div>
  {% block script %}
  {% endblock %}
  <script src="{% static "bootstrap/js/jquery-3.3.1.slim.min.js" %}"></script>
  <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script type="application/javascript">
      $('.errorlist li').addClass('label label-danger');
  </script>
</body>
</html>
