{% extends "sheet/gen_edit.html" %}

{% block title %} Add a weapon {% endblock %}

{% block content %}
{{ block.super }}
    <a href="{% url "add_weapon" %}">Create a new weapon </a>
    <a href="{% url "add_weapon_template" %}">Create a new weapon template </a>
    <a href="{% url "add_weapon_quality" %}">Create a new weapon quality </a>
    <a href="{% url "add_weapon_special_quality" %}">Create a new weapon special
        quality </a>
    <a href="{% url "add_ranged_weapon" %}">Create a new ranged_weapon </a>
    <a href="{% url "add_ranged_weapon_template" %}">Create a new ranged weapon
        template
    </a>
    <a href="{% url "add_miscellaneous_item" %}">Create a new miscellaneous
        item
    </a>

{% endblock %}
