{% extends "sheet/gen_edit.html" %}

{% block title %} Add an armor special quality {% endblock %}

{% block content %}
    <p>Remember to add armor reductions as negative numbers.  Otherwise the
        effect is treated as a penalty. <em>XXX change this to explicit check
            for UI purposes.</em></p>
    {{ block.super }}
    <a href="{% url "add_armor_template" %}">Create a new armor template </a>
    <a href="{% url "add_armor_quality" %}">Create a new armor quality </a>
    <a href="{% url "add_armor_special_quality" %}">Create a new armor special
        quality </a>
{% endblock %}
