{% extends "base.html" %}
{% load sheet_extras %}
{% load static %}
{% load humanize %}

{% comment %}
The sheet should move to a more REST / ReactJS mode.  First, parts of the
sheet, which introduce changes elsewhere in the sheet, such as weapon
and armor with weight, stats wrt skill checks, should be passed a
onSheetChange property, which is signaled when a change requiring sheet reload
is done.

See https://facebook.github.io/react/docs/tutorial.html

Once the whole sheet is RESTified, the property can be retired.

As all the skill checks etc are currently calculated in the python backend,
this will probably not happen soon.  Perhaps the sheet components can gradually
be reloaded in React code once the situation has improved.

In any case, Reactifying and RESTifying the sheet should never result in test
coverage of the sheet functionality in getting worse; it should only increase,
but naturally with the focus moving towards the JavaScript unit-tests and
perhaps Robot-system tests.
{% endcomment %}
{% block title %} {{ sheet.name }}'s sheet {% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-3">
<h1>{{ sheet.name }}</h1>
{{ sheet.race }}
{{ sheet.occupation }}
    </div>
    <div class="col-md-2">
        <div class="edit-control">
        <a href="{% url "edit_character" sheet.character.id %}">
      Edit base character</a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="edit-control">
    <a href="{% url "edit_sheet" sheet.id %}">
      Edit base sheet</a>
            </div>
    </div>
    <div class="col-md-2">
        <div class="edit-control">
    <a href="{% url "copy_sheet" sheet_id=sheet.id %}">
      Copy this sheet</a>
        </div>
    </div>
    <div class="col-md-3 no-print">
    <div class="panel panel-default">
        <div class="panel-heading">Owner</div>
        <div class="panel-body">{{ sheet.owner }}
            {% if sheet.private %}
                <span class="label label-danger">Private</span>
            {% endif %}</div>
    </div>
    </div>
    </div>
    <div class="row">
<div class="col-md-9">
<div class="row">
<div class="col-md-4">
<p>
{{ sheet.character.description }}
</p>
<p>
{{ sheet.description }}
</p>

<div class="stats">

{% url "sheet_detail" sheet.id as act %}

<table class="base">
{% for stat in sheet.base_stats %}
    {% include "sheet/sheet_detail/stat.html" %}
{% endfor %}
</table>

</div>
</div>
<div class="col-md-8">
<div>
    {% if sheet.character.portrait %}
    <img id="portrait" src="{{ sheet.character.portrait.url }}" title="{{ sheet.name }}"
         class="img-rounded">
    {% else %}
        <div class="edit-control">You can add a portrait for your character in
            the <a href="{% url "edit_character" sheet.character.id %}">
                base character edit</a>.</div>
    {% endif %}
</div>
</div>
</div>

<div class="row">
<div class="col-md-4">

<table class="derived">
{% for stat in sheet.derived_stats %}
    {% include "sheet/sheet_detail/stat.html" %}
{% endfor %}
</table>

<div class="xp">
<label>XP:</label> {{ sheet.xp_used_stats }} +
{% if sheet.hero %}
{{ sheet.xp_used_hero }} +
{% endif %}
{{ sheet.xp_used_edges }} +
{{ sheet.xp_used_ingame }} = {{ sheet.xp_used }} / {{ sheet.total_xp}}

<div class="edit-control">
    <form action="{{ act }}" method="post">
        {% csrf_token %}
        {{ add_xp_form }}
        <input type="submit" value="Add XP" />
    </form>
</div>
</div>
</div>

<div class="col-md-2">
    <table class="derived">
{% with b=sheet.body sta=sheet.stamina mana=sheet.mana %}
{# XXX Temporary stamina and body #}
  <tr class="body">
    <td>B</td><td>{{ b.base}}</td>
    <td>{{ b.mod|default:""}}</td>
    <td>{{ b.recovery_rate|default:"" }}</td>
  </tr>
  <tr class="stamina">
    <td>S</td><td>{{ sta.base}}</td>
    <td>{{ sta.mod|default:""}}</td>
    <td>{{sta.recovery_rate|default:"" }}</td>
  </tr>
  <tr class="mana">
    <td>M</td><td>{{ mana.base}}</td>
    <td>{{ mana.mod|default:""}}</td>
    <td>{{mana.recovery_rate|default:"" }}</td>
  </tr>
{% endwith %}
</table>
</div>

<div class="col-md-6">
    {% include "sheet/sheet_detail/advancing_initiatives.html" %}
</div>
</div>

<div class="row">
<div class="col-md-4">
    {% include "sheet/sheet_detail/armor.html" %}

    <div>
        <ul>
            <li>Weight carried: {{ sheet.weight_carried }} kg </li>
        </ul>
    </div>
</div>
    <div class="col-md-8">
        {% include "sheet/sheet_detail/movement.html" %}
    </div>
</div>


<h3>Notes</h3>
<ul class="note positive">
    {% for note in notes.positive %}
        <li>{{ note|join:": " }}</li>
    {% endfor %}
</ul>
<ul class="note negative">
    {% for note in notes.negative %}
        <li>{{ note|join:": " }}</li>
    {% endfor %}
</ul>

<h3>Close combat</h3>
{% include "sheet/sheet_detail/melee_weapons.html" %}

<h3>Ranged combat</h3>
{% include "sheet/sheet_detail/ranged_weapons.html" %}

{% if sheet.campaign.has_firearms %}
<h3>Firearms</h3>
{% include "sheet/sheet_detail/edit_firearms.html" %}
{% endif %}

<div class="row">
    {% if sheet.campaign.has_spells %}
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Miscellaneous items</h3>
                </div>
                <div class="panel-body">
                    {% include "sheet/sheet_detail/edit_miscellaneous_items.html" %}
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Spell effects</h3>
                </div>
                <div class="panel-body">
                    {% include "sheet/sheet_detail/edit_spell_effects.html" %}
                </div>
            </div>
        </div>

    {% endif %}

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Edges</h3>
            </div>
            <div class="panel-body">
                {% include "sheet/sheet_detail/edit_edges.html" %}
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Helm</h3>
            </div>
            <div class="panel-body">
                {% include "sheet/sheet_detail/edit_helm.html" %}
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Armor</h3>
            </div>
            <div class="panel-body">
                {% include "sheet/sheet_detail/edit_armor.html" %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="character-notes-container"></div>
    </div>
</div>
</div>

    <div id="skill-pane" class="col-md-3">
        <div class="skills panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Skills</h3>
        </div>
        <div class="panel-body">
                    <table>
                        {% include "sheet/sheet_detail/skill.html" with skill=sheet.endurance %}
                        {% include "sheet/sheet_detail/skill.html" with skill=sheet.balance %}
                        {% for skill in sheet.physical_skills %}
                            {% include "sheet/sheet_detail/skill.html" %}
                        {% endfor %}
                        {% for skill in sheet.skills %}
                            {% include "sheet/sheet_detail/skill.html" %}
                        {% endfor %}
                    </table>
                    <div>
                        SP: {{ sheet.initial_sp }} + {{ sheet.edge_sp }}
                        + {{ sheet.gained_sp }} =
                        {{ sheet.total_sp }} / {{ sheet.used_sp }}
                    </div>
                    <div>Age SP: {{ sheet.age_sp }} </div>
                    {% with sheet.optimized_age_sp as opt %}
                        <div>Munch munch: +{{ opt.lrn }} LRN, + {{ opt.int }}
                            INT
                        </div>
                    {% endwith %}

            <div id="add_skill" class="edit-control">
                <label for="add_skill_form"><strong>Add a skill</strong></label>

                <form action="{{ act }}" method="post"
                      id="add_skill_form">{% csrf_token %}
                    <table>
                        {{ add_skill_form.as_table }}
                    </table>
                    <input type="submit" value="Add"/>
                </form>
            </div>
            <div id="add_lang" class="edit-control">
                <label for="add_lang_form"><strong>Add a language skill</strong></label>

                <form action="{{ act }}" method="post"
                      id="add_lang_form">{% csrf_token %}
                    <table>
                        {{ add_lang_form.as_table }}
                    </table>
                    <input type="submit" value="Add"/>
                </form>
            </div>
        </div>
        </div>
        <div>Missing skills: {{ sheet.missing_skills }}</div>


        <div id="log-entries">
            <ul>
                {% for entry in sheet.character.characterlogentry_set.all %}
                    <li>{{ entry.timestamp|naturaltime }}: {{ entry }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {

    var findRemoves = function (e) { return $(e)
            .find('.remove'); };
    var hideRemoves = function (e) { findRemoves(e).hide(); };
    var showRemoves = function (e) { findRemoves(e).show(); };

    $('.remove-container').find('.remove').hide().css('opacity', '0.5').end()
            .hover(function () { showRemoves(this); },
                   function () { hideRemoves(this); });

    $('.advanced').each(function () {
        var has_errors = $(this).find('.errorlist').length > 0;
            $(this).hideAdvanced({
                style: 'plain',
                startOpen: has_errors
            });
    });
});
</script>
<script src="{{ STATIC_URL }}jquery-combobox.js"></script>
<script src="{{ STATIC_URL }}hideAdvanced.js"></script>
<script>
    $(document).ready(function () {
        $("#add_skill select").combobox();
        $("#add_lang select").combobox();
    });
</script>
<script src="{% static "react/bundle.js" %}"></script>
<script type="application/javascript">
    var node = SheetApp.React.createElement(SheetApp.CharacterNotes,
            {url: '/rest/characters/{{ sheet.character.pk }}/'});
    SheetApp.render(node, document.getElementById('character-notes-container'));
</script>

{% endblock %}
