{% extends "base.html" %}

{% block title %} TODO {% endblock %}

{% block content %}

    <h2>TODO</h2>
    <pre>
    + = done
    - = not done

    Priority list by JW:

    + 0) restrict ammo by chosen weapon dynamically with JS
    + 1) basic skill checks
    + 2) movement rates
    - 3) berettas akimbo
    + 4) overland
    - 5) spell skill cheks
    - 6) default to normal quality for armor, weapons

    + inventory
    + damage taken
    ++ stamina
    ++ lethal
    ++ incurred to character, with approriate wounds
    ++ healing damage
    ++ bleeding damage, retain original wound, but incurs AA etc penalties
       as per bleeding.

    - telescopic sight x16 xxxxl extreme range options
    - language skills to a separate section in the skills
    - make "standard skills" stand out a bit in the selection
    + apply instinctive fire on low ranges
    - double range penalties for sweep fire missing
    - UI: touch devices "missing skills" not showing up, can't see the reason for the missing skill indicator

    + fix toughness (now 1 pt per level, should be 2)

    + notes changes should perhaps not be logged.

    - suspended weight
    - check that power armor fit bonus works.

    - acute vision counters penalty in ranged combat (-10 -> -5 etc)
    - acute vision edge to main sheet

    - range UI for ranged weapons (bows etc)

    + skill modifiers from armor

    + surprise check

    + senses (SM)
    + sense modifiers from armor
    + weight from scopes, firearm addons

    - spell skill checks (SM)

    - edge levels from items (toughness, darkvision, etc)
        + done for scopes (acute vision, night vision)
        - missing for miscellaneous items, firearm addons, special weapon qualities
    - more modifiers from add ons, scopes, like to_hit

    + automatic used edge point calculation

    - tiring: show tiring durations in the sheet
    - tiring: account for armor encumbrance class
    - tiring: allow adding turns fought, sprinted etc

    - finalize initial robot tests.

    - marking weapons as having no weight; useful for alternate weapons, or
      weapons with larger sizes (Martel enlarged).

    + armor modifiers to skill checks.  These should work for the physical skills
      where the check is shown even without the character having the skill.
    + edge skillbonuses back to sheet, they are missing after moving skills to
      react.

    - environment effects on movement as an overlay
    - environment effects on overland movement as an overlay
    - overland movement double time

    - show character height, weight in sheet.
    - "add xp used ingame" with a possibility to enter description (to log)
    -- if a log entry is added, entry should not be coalesced.
    - "add xp" with an optional log entry, allowing for in-game notes.
    - shield damages
    - tiring
    - bootstrap data pop-up links for armor, effects in edit area
    -- show basic info.
    - reordering weapons.  possible to do with ajax, so it would be faster.

    - save bonuses (M)

    - character addition form layout for easier "intake"
      + group cur, starting stats
      - show raises
    +/- adding weapon inplace ("add row" functionality), instead of the large set of
        controls.  Might already be sufficient with the condensed layout, verify with
        JW.


    - you should be able to leave current stats empty on character creation,
      in which case the stats would be filled in from the initial stats.

    -- xl and e range dependent on user FIT (SM)
    -- password change (SM)
    + wondrous items
    - magic item location (only one item to each location)
    + change log for sheet (stat modifications etc)
    ++ skills
    ++ edges

    - encumbrance breakdown (M)
    + sheet styling

    - short description of spell effect (+50 FIT etc)
    - stats, armors etc if the character is larger sized.

    - Partial skills.  This is a larger item than it sounds, as the current design
      assumes whole skill levels.  Investigate if could be done as a skill level
      model field.

    - Inserting None as skill cost to the sheet should work to allow resetting
      skill costs from CSV import.

    - creating new objects should be ajaxiced and redirects should occur in a
      sensible manner.

    - hardened skin + toughness -> natural weapons durability.
    -- NaturalWeaponDura=Aleth+HdSkin+ROUNDDOWN(Toughness/2)+SizeModifier
    - size field for weapons (huge cretin with Large bite)

    - free edges based on campaign (probably should think about race
      in this context, for FRP at least)

    - it should be really easy to bootstrap the sheet system.  There should be
      some initial data, like tech-levels and campaigns.

    Minor:

    - adding missing skills (helps in just allowing inserting primary skills
      and autofilling rest)

    Firearms:

    - using two Berettas akimbo.  Check rule situation regarding instinctive fire.
    -- fireams are assigned to hands (right, left, both).  Penalties/bonuses should
       be applied based on weapon type.  If both hands are occupied, apply penalty
       for two guns.
    - firearms in CC.

    Edges:

    - superior balance effect on ref/mov balance checks

    Skills:

    - jumping/tumbling synergy, see AEN skills and edges.
    </pre>

    <h2>BUGS</h2>
    <pre>
    - Adding skills with multiple prereqs doesn't work.
    + Better error messages on importing completely invalid CSV (heading line or
          data type broken)
    + sweep fire description
    + wound addition controls
    </pre>

{% endblock %}
