body { height : 100%; min-height : 100%; }
html { height : 100%; min-height : 100%; }
table td { vertical-align: top }

#top { background: #defdde; }
#sidebar { float : left; width : 8em; min-height: 100%; 
	   background: #defdde; }
#navigation { background: #defdde;  }
#top ul { list-style-type: none; }
#top li { display: inline; border-right: 1px;}
#authbar { text-align : right; }
#content { min-height: 100%; overflow: auto; }
#skill-pane { font-size: 80%; }
#right-pane { position: absolute;
	     font-size: 80%;
	     right: 5px;
	     top: 2em;
	   }
td.stats.name { font-weight: bold; }
td.stats.base { text-align: right; 
		padding-left: 5px }
td.stats.eff { font-weight: bold; 
	       text-align: right;
	       padding-left: 5px }
.stats.change { color: #a9a9a9; font-size: 80%;}
div.stats { position: relative; }
div.stats table.derived { position: absolute; left: 12em; top: 50%; }
.note.positive { color: blue; }
.note.negative { color: red; }

.skill_name { position: relative; }
.remove-container {
    position: relative;
    /* The following makes a larger container encompassing the remove button
       for the hover effect.  Padding for empty space, compensate text
       position with left and compensate right margin change with
       negative margin. */
    padding-left: 0.8em;
    left: -0.8em;
    margin-right: -0.8em;
}
.remove-container .remove {
    position: absolute;
    top: -2px;
    left: -2px;
}

.remove input[value="Remove"] {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent url('delete-small.png') no-repeat center top;
    text-indent: -1000em;
}

div.armor table { 
border: 1px dotted gray;
border-collapse:collapse;
}

div.armor th {
width: 20px;
padding: 4px;
border: 1px gray;
border-style: hidden hidden dotted hidden;
margin: 0px;
text-align: center;
}

div.armor td { 
text-align: center;
width: 20px;
padding: 4px;
border: 1px dotted gray;
margin: 0px;
}

table.combat {
border: 1px dotted gray;
border-collapse:collapse;
font-size: 85%;
}

table.combat th {
font-weight: bold;
text-align: center;
padding: 2px;
border: 1px gray;
border-style: hidden hidden dotted hidden;
margin: 0px;
}

table.combat td {
text-align: center;
padding: 2px;
border: 1px dotted gray;
margin: 0px;
}

div.charge { color: red; }

td.tohit { font-weight: bold; }

.defense { color: blue; }

a { padding-right: 1em;}
ul {
    padding: 0;
}

ul li {
    list-style-type: none; 
}

ul.changelog li { white-space: pre-wrap; 
		  padding: 0.25em;
		}

.row2 {
    background-color: #f0f0ff;
    }

.unskilled { color: red;  font-style: italic; }
.skills .check { font-weight: bold; }
.specialization td:first-child { font-style: italic; }
.indent1 td:first-child { padding-left: 1em; }
.indent2 td:first-child { padding-left: 2em; }
.indent3 td:first-child { padding-left: 3em; }
.indent4 td:first-child { padding-left: 4em; }
.indent5 td:first-child { padding-left: 5em; }

table.data { font-size: 80%; }
.data td:not(:first-child) { text-align: center; }

@media print {
    #top,#navigation,#sidebar,#authbar,.edit_control { display: none; }
    body { font-size: 8pt; } 
}
