body { height : 100%; min-height : 100%; }
html { height : 100%; min-height : 100%; }
table td { vertical-align: top }
th.combat { font-weight: bold; }
td.defense { color: blue; }
#sidebar { float : left; width : 8em; min-height: 100%; 
	   background: rgb(204,212,138); }
#content { min-height: 100%; background: rgb(198,214,249); overflow: auto; }
#authbar { text-align : right; width: 100%; }
div.skills { position: absolute;
	     font-size: 80%;
	     right: 5px;
	     top: 2em;
	   }
td.stats.name { font-weight: bold; }
td.stats.base { text-align: right; 
		padding-left: 5px }
td.stats.eff { font-weight: bold; 
	       text-align: right;
	       padding-left: 5px }
div.stats { position: relative; }
div.stats table.derived { position: absolute; left: 12em; top: 50%; }

@media print {
    #sidebar,#authbar,.edit_control { display: none; }
    body { font-size: 8pt; } 
}
