{% if sheet.armor.item %}
{% with sheet.armor as armor %}
<table>
  <tr><td>{{ armor.item }}</td>
    <td>
      <div class="edit-control">
        <form action="{{ act }}" 
              method="post">
          {% csrf_token %}
          {{ armor.remove_form }}
          <input type="submit" value="Remove" />
        </form>
      </div>
    </td>
  </tr>
</table>
{% endwith %}
{% else %}
<p>No armor.</p>
{% endif %}

<div id="add_armor" class="edit-control advanced"
     data-advanced-text="Add armor">
    <label for="add_armor_form">Add armor</label>
    <form action="{{ act }}" method="post"
          id="add_armor_form">{% csrf_token %}
        <table>
            {{ add_armor_form.as_table }}
        </table>
        <input type="submit" value="Add" />
    </form>
or
    <label for="add_existing_armor_form">Add existing armor</label>
<form action="{{ act }}" method="post" 
      id="add_existing_armor_form">{% csrf_token %}
<table>
{{ add_existing_armor_form.as_table }}
</table>
<input type="submit" value="Add" />
</form>
or
<a href="{% url "add_armor" %}">Create a new armor</a>
</div>
