{% if sheet.ranged_weapons %}
    {% include "sheet/sheet_detail/ranged_attacks.html" with actions=sheet.ranged_actions weapons=sheet.ranged_weapons %}
{% else %}
<p>No ranged weapons.</p>
{% endif %}
<div id="add_ranged_weapon_form" class="edit-control advanced"
        data-advanced-text="Add ranged weapons">
    <label for="add_ranged_weapon_form">Add a
        ranged weapon</label>
    <form id="add_ranged_weapon_form" action="{{ act }}" method="post"
            >{% csrf_token %}
        <ul>
            {{ add_ranged_weapon_form.as_ul}}
        </ul>
        <input type="submit" value="Add" />
    </form>

    <label for="add_existing_ranged_weapon_form">Add an existing
        ranged weapon</label>
<form id="add_existing_ranged_weapon_form" action="" method="post">
  {% csrf_token %}
<ul>
{{ add_existing_ranged_weapon_form.as_ul }}
</ul>
<input type="submit" value="Add" />
</form>
or
    <a href="{% url "add_ranged_weapon" %}">Create a new ranged weapon</a>
</div>
