/*html { font-size: 12px }*/
/*body { height : 100%; min-height : 100%; }*/
/*html { height : 100%; min-height : 100%; }*/
/*!* table td { vertical-align: top }*!*/

/*#content { min-height: 100%; overflow: auto; }*/
/*#portrait { max-height: 400px; max-width: 400px;}*/
/*#skill-pane { font-size: 80%; }*/
/*#right-pane { position: absolute;*/
	     /*font-size: 80%;*/
	     /*right: 5px;*/
	     /*top: 2em;*/
	   /*}*/
/*td.stats.name { font-weight: bold; }*/
/*td.stats.base { text-align: right; */
		/*padding-left: 5px }*/
/*td.stats.eff { font-weight: bold;*/
	       /*text-align: right;*/
	       /*padding-left: 5px }*/
/*.stats.change { color: #a9a9a9; font-size: 80%;}*/
/*div.stats { position: relative; }*/
/*div.stats table.derived { position: absolute; left: 12em; top: 50%; }*/
/*td.weapon.name { width: 10em; }*/

/*.note.positive { color: blue; }*/
/*.note.negative { color: red; }*/

/*.movement-rates { white-space: nowrap; font-size: 80%; }*/

/*.skill_name { position: relative; }*/
/*.remove-container {*/
    /*position: relative;*/
    /*!* The following makes a larger container encompassing the remove button*/
       /*for the hover effect.  Padding for empty space, compensate text*/
       /*position with left and compensate right margin change with*/
       /*negative margin. *!*/
    /*padding-left: 0.8em;*/
    /*left: -0.8em;*/
    /*margin-right: -0.8em;*/
/*}*/
/*.remove-container .remove {*/
    /*position: absolute;*/
    /*top: -2px;*/
    /*left: -2px;*/
/*}*/

/*.errorlist li:not(.label-danger) {*/
    /*color: red;*/
    /*font-variant: small-caps;*/
/*}*/

/*.remove input[value="Remove"] {*/
    /*width: 24px;*/
    /*height: 24px;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*background: transparent url('delete-small.png') no-repeat center top;*/
    /*text-indent: -1000em;*/
/*}*/

/*div.armor table { */
/*border: 1px dotted gray;*/
/*border-collapse:collapse;*/
    /*font-size: 85%;*/
/*}*/

/*div.armor th {*/
/*width: 20px;*/
/*padding: 4px;*/
/*border: 1px gray;*/
/*border-style: hidden hidden dotted hidden;*/
/*margin: 0px;*/
/*text-align: center;*/
/*}*/

/*div.armor td.roll {*/
    /*min-width: 3em;*/
    /*font-weight: bold;*/
/*}*/

/*div.armor td.location {*/
    /*font-weight: bold;*/
/*}*/

/*div.armor td {*/
/*text-align: center;*/
/*width: 2em;*/
/*padding: 4px;*/
/*border: 1px dotted gray;*/
/*margin: 0px;*/
/*}*/

/*table.combat {*/
/*border-collapse:collapse;*/
/*font-size: 85%;*/
/*}*/

/*table.combat th {*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*padding: 2px;*/
    /*border: 0px;*/
    /*margin: 0px;*/
/*}*/

/*table.combat tbody {*/
    /*border: 1px gray;*/
    /*border-top-style: dotted;*/
    /*border-bottom-style: dotted;*/
/*}*/

/*table.combat td {*/
    /*text-align: center;*/
    /*padding: 2px;*/
    /*border: 1px dotted gray;*/
    /*margin: 0px;*/
    /*min-width: 2em;*/
/*}*/

/*div.charge { color: red; }*/

/*td.tohit { font-weight: bold;  }*/
/*td.attack.initiative { color: red; }*/
/*.help-text { color: hotpink; }*/
/*.defense { color: blue; }*/

/*a { padding-right: 1em;}*/
ul {
    padding: 0;
}

li {
    list-style-type: none;
}

ul.changelog li { white-space: pre-wrap;
		  padding: 0.25em;
		}

ul.changelog .row2 {
    background-color: #f0f0ff;
    }


@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*.unskilled { color: red;  font-style: italic; }*/
/*.skills .check { font-weight: bold; }*/
/*.specialization td:first-child { font-style: italic; }*/
/*.indent1 td:first-child { padding-left: 1em; }*/
/*.indent2 td:first-child { padding-left: 2em; }*/
/*.indent3 td:first-child { padding-left: 3em; }*/
/*.indent4 td:first-child { padding-left: 4em; }*/
/*.indent5 td:first-child { padding-left: 5em; }*/

/*table.data { font-size: 80%; }*/
/*.data td:not(:first-child) { text-align: center; }*/

/*@media print {*/
    /*#top,#navigation,#sidebar,#authbar,.edit-control,.no-print,*/
    /*.show-hide-advanced { display: none; }*/
    /*body { font-size: 8pt; }*/
    /*#portrait { max-height: 150px; max-width: 300px;}*/
/*}*/
